<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/css/admin.css" rel="stylesheet" type="text/css">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <title>Admin Common Settings</title>
</head>

<body>
    <div class= "background parallax">
    <div class="container">
        <div class="row ">
            <div class="col mt-3">
                <h1 style="color: white" >CommonId: <%= data.commonId %> </h1>
                <div class="card">
                    <h5 class="card-header">Players </h5>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Cows</th>
                                    <th scope="col">Money</th>
                                    <th scope="col">Something</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.users.forEach(result=>{ %>
                                <tr>
                                    <th scope="row"><%= result["id"] %></th>
                                    <% Object.keys(result).map((key)=>{ %>
                                        <td><%=result[key]%></td>
                                    <% }); %>
                                    <td>
                                        <form action="remove_player" method="post">
                                            <input type="hidden" class="form-control" name="cid" id="cid"
                                                            value="<%= data.commonId %>">
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                <ion-icon name="close-outline"></ion-icon>
                                            </button>
                                        </form>                    
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>


        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Dates</h5>
                    <div class="container">
                        <div class="row ">
                            <div class="col">
                                <table class="table table-striped">
                                    <thead>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                    </thead>
                                    <tbody>
                                            <td>
                                                <%= data.startDate %>
                                            </td>
                                            <td>
                                                <%= data.endDate %>
                                            </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">Average Cow Health</h5>
                        <div class="container">
                            <div class="row ">
                                <div class="col">
                                    <table class="table table-striped">
                                        <tbody>
                                                <td>
                                                    <%= data.cowAvgHealth %>
                                                </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Configs (WIP)</h5>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="#">Parameters</th>
                                    <th scope="col">Parameters</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Max Cows Per Person</td>
                                    <td><%= data.cowMax %></td>
                                    <td>
                                            <form action="max_cow_update" method="post">
                                                <input type="hidden" class="form-control" name="cid" id="cid"
                                                            value="<%= data.commonId %>">
                                                <div class="form-group">
                                                  <label for="val">New Value</label>
                                                  <input type="text" class="form-control" name="val" id="val">
                                                </div>
                                                <button type="submit" class="btn btn-primary btn-sm">Modify</button>
                                            </form>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">2</th>
                                    <td>Cost Per Cow</td>
                                    <td><%= data.cowPrice %></td>
                                    <td>
                                        <form action="cow_cost_update" method="post">
                                            <input type="hidden" class="form-control" name="cid" id="cid"
                                                            value="<%= data.commonId %>">
                                            <div class="form-group">
                                                <label for="val">New Value</label>
                                                <input type="text" class="form-control" name="val" id="val">
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-sm">Modify</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Degredation Rate</td>
                                    <td><%= data.degradeRate %></td>
                                    <td>
                                        <form action="degradation_update" method="post">
                                            <input type="hidden" class="form-control" name="cid" id="cid"
                                                            value="<%= data.commonId %>">
                                            <div class="form-group">
                                                <label for="val">New Value</label>
                                                <input type="text" class="form-control" name="val" id="val">
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-sm">Modify</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                        <th scope="row">4</th>
                                        <td>Milk Cow Price</td>
                                        <td><%= data.milkPrice %></td>
                                        <td>
                                            <form action="milk_price_update" method="post">
                                                <input type="hidden" class="form-control" name="cid" id="cid"
                                                                value="<%= data.commonId %>">
                                                <div class="form-group">
                                                    <label for="val">New Value</label>
                                                    <input type="text" class="form-control" name="val" id="val">
                                                </div>
                                                <button type="submit" class="btn btn-primary btn-sm">Modify</button>
                                            </form>
                                        </td>
                                    </tr>

                                    <tr>
                                            <th scope="row">5</th>
                                            <td>MilkingTest</td>
                                            <td>
                                                <form action="milk_test" method="post">
                                                    <input type="hidden" class="form-control" name="cid" id="cid"
                                                                    value="<%= data.commonId %>">
                                                    <button type="submit" class="btn btn-primary btn-sm">Post</button>
                                                </form>
                                            </td>
                                        </tr>

                                <!-- Modify Modal -->
                                <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog"
                                    aria-labelledby="modifyModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modifyModalLabel">Modify Value</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" id="value" name="value">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Taxes (WIP) - (only 1 tax supported now)</h5>
                    <div class="container">
                        <div class="row ">
                            <div class="col">
                                <table class="table table-striped">
                                    <thead>
                                        <th scope="col">Rate</th>
                                        <th scope="col">Update</th>
                                    </thead>
                                    <tbody>
                                            <td>
                                                <%= data.taxPrice %>
                                            </td>
                                            <td>
                                                    <form action="taxes_update" method="post">
                                                        <input type="hidden" class="form-control" name="cid" id="cid"
                                                            value="<%= data.commonId %>">
                                                        <div class="form-group">
                                                            <label for="val">New Value</label>
                                                            <input type="text" style="width: 200px;" class="form-control" name="val" id="val">
                                                        </div>
                                                        <button type="submit" class="btn btn-primary btn-sm">Adjust Taxes</button>
                                                    </form>
                                                </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Data (WIP)</h5>
                    <div class="card-body">
                            <td>
                                    <form action="download" method="get">
                                        <input type="hidden" class="form-control" name="" id="" value="">
                                        <button type="submit" class="btn btn-primary btn-sm">Download</button>
                                    </form>
                            </td>
                       
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<div class= "background3 parallax"></div>



</body>

<%- include("footer") %>