<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <link href="/css/choose_commons.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Scroll Animations -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- icons -->
    <title>Select Commons</title>
</head>

<body>
    <div class="background">
        <div class="container h-100 text-center">
            <div class="card-block mb30">
                <div class="p-3 mb-5 rounded">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card special-card">
                                <div class="page-caption">
                                    <h1 class="ml9">
                                        <span class="text-wrapper">
                                            <span class="letters">Howdy farmer <%=data.userName%></span>
                                        </span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "row mt-5">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-6">
                            <div class="card special-card">
                                <div data-aos="flip-right" data-aos-duration="2000">
                                    <h2 class="page-title">Select A Common</h2>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Common Name</th>
                                            <th scope="col">Select</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.commons_user.forEach(result=>{ %>
                                        <tr>
                                            <% Object.keys(result).map((key)=>{ %>
                                            <td><%=result[key]%></td>
                                            <% }); %>
                                            <td>
                                                <form action="/enter" method="post">
                                                    <div class="form-group">
                                                        <input type="hidden" class="form-control" name="cid" id="cid"
                                                            value="<%=result.id%>">
                                                    </div>
                                                    <button type="submit" class="btn btn-danger btn-sm">
                                                        <ion-icon name="arrow-forward-outline"></ion-icon>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-6">
                            <div class="card special-card">
                                <div data-aos="flip-left" data-aos-duration="2000">
                                    <h2 class="page-title">Join A New Common</h2>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Common Name</th>
                                            <th scope="col">Join</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.commons.forEach(result=>{ %>
                                        <tr>
                                            <% Object.keys(result).map((key)=>{ %>
                                            <td><%=result[key]%></td>

                                            <% }); %>
                                            <td>
                                                <form action="/choosecommons/:join" method="post">
                                                    <div class="form-group">
                                                        <input type="hidden" class="form-control" name="cid" id="cid"
                                                            value="<%=result.id%>">
                                                        <input type="hidden" class="form-control" name="log" id="log"
                                                            value="logstuff">
                                                    </div>
                                                    <button type="submit" class="btn btn-danger btn-sm">
                                                        <ion-icon name="arrow-forward-outline"></ion-icon>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class= "background2 parallax"></div>
</body>

<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="editcommons.js"></script>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>
        var textWrapper = document.querySelector('.ml9 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
        anime.timeline({loop: false})
          .add({
            targets: '.ml9 .letter',
            scale: [0, 1],
            duration: 2000,
            elasticity: 600,
            delay: (el, i) => 45 * (i+1)
          });
</script>

<!--
For Select A Common buttons.
This will take user to commons page they select.
-->
<script>
    $(".btnSelect").on('click', function () {

        alert("CLICKED!");

    });

</script>

</html>