<%- include("header") %>

<body class="user_main">
    <!-- <div style="background-image: url('backround.svg');"></div> -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info">
                        <h1 class="ml9">
                            <span class="text-wrapper">
                                <span class="letters">Welcome farmer <%=data.userName%></span>
                            </span>
                        </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card special-card">
                    <h5 class="card-header">Manage Cows</h5>
                    <div class="card-body">
                        
                        <h5>Market Cow Price: $<%= data.cowPrice%> </h5>  <!--fill in data here for cow price-->
                        <div class="row">
                            <div class="col">
                                <img class="cowBounceTest" src="img/cowhead.svg" alt="Cow's head">
                                <p>You Have <%= data.userCows%> cows</p>
                            </div>
                            <div class="col">
                                <!-- On Click should verify IF user has enough money, also check floor on zero -->
                                <form action="/sellcow" method="post">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="cid" id="cid"
                                            value="<%=data.cid%>">
                                    </div>
                                    <button type="submit" class="btn btn-danger">
                                        <ion-icon name="remove-outline"></ion-icon>
                                    </button>
                                </form>

                                <!-- <button type="button" class="btn btn-secondary" onclick="user_sell_cow()">-</button> -->
                                
                                <form action="/buycow" method="post">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="cid" id="cid"
                                            value="<%=data.cid%>">
                                    </div>
                                    <button type="submit" class="btn btn-danger">
                                        <ion-icon name="add-outline"></ion-icon>
                                    </button>
                                </form>
                                

                                <!-- <button type="button" class="btn btn-secondary" onclick="user_buy_cow()">+</button> -->
                            </div>
                        </div>
                        <p>Note: If you increase cows, they will be automatically bought, and if you decrease, they cows
                                will be automatically sold</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card special-card">
                    <h5 class="card-header">Your Stats</h5>
                    <div class="card-body">
                        <div class="row mt-3">
                            <div class="col">
                                <div class="money">
                                    <img class="shakeMoney" src="img/money.svg" alt="">
                                    <p>$ <%= data.userMoney%></p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="health">
                                    <img class="heart" src="img/health.svg" alt="">
                                    <p>Cow Health: <%= data.userCowsHealth%>%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function user_buy_sound(){
        var audio = new Audio('../public/audio/toggle_002.ogg') ;
        audio.play();
    } 
</script>
<script>
    function user_sell_sound() {
        var audio = new Audio('../public/audio/glass_006.ogg') ;
        audio.play();
    } 
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>
var textWrapper = document.querySelector('.ml9 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: false})
  .add({
    targets: '.ml9 .letter',
    scale: [0, 1],
    duration: 1500,
    elasticity: 600,
    delay: (el, i) => 45 * (i+1)
  });
</script>

<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>
</html>
