<%- include("header") %>

<body class="user_main">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info">
                        <h1 class="ml9">
                            <span class="text-wrapper">
                                <span class="letters">Welcome farmer <%=data.userName%></span>
                            </span>
                        </h1>

                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-sm-12 mt-3 mb-3">
                        <div class="card special-card">
                            <h5 class="card-header">Announcements</h5>
                            <div class="card-body">
                                    <h4>Today is Day <%=data.day%>! This game will end on <%=data.endDate%>.</h4>
                                    <h5>Total Players: <%=data.userTotal%> </h5>
                            </div>
                        </div>
                </div>

            <div class="col-sm-4 d-flex align-items-stretch mb-3">
                <div class="card special-card">
                    <h5 class="card-header">Manage Cows</h5>
                    <div class="card-body">
                        <h5>Market Cow Price: $<%= data.cowPrice%> </h5> 
                        <div class="row">
                            <div class="col">
                                <img class="cowBounceTest" src="/img/cowhead.svg" alt="Cow's head">
                                <h6>You Have <%= data.userCows%> cows</h6>
                            </div>
                            <div class="col">
                                <form action="/sellcow" method="post">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="cid" id="cid"
                                            value="<%=data.cid%>">
                                    </div>
                                    <button type="submit" class="btn btn-danger">
                                        <ion-icon name="remove-outline"></ion-icon>
                                    </button>
                                </form>
                                <form action="/buycow" method="post">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="cid" id="cid"
                                            value="<%=data.cid%>">
                                    </div>
                                    <button type="submit" class="btn btn-danger">
                                        <ion-icon name="add-outline"></ion-icon>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <p>Note: If you increase cows, they will be automatically bought, and if you decrease, the cows
                                will be sold for price * % health of that cow.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 d-flex align-items-stretch mb-3">
                <div class="card special-card">
                    <h5 class="card-header">Your Farm Stats</h5>
                    <div class="card-body">
                        <div class="row mt-3">
                            <div class="col">
                                <div class="money">
                                    <img class="shakeMoney" src="/img/money.svg" alt="">
                                    <h6>Total Wealth: $<%= data.userMoney%></h6>
                                </div>
                            </div>
                            <div class="col">
                                <div class="health">
                                    <img class="heart" src="/img/health.svg" alt="">
                                    <h6>Cow Health: <%= data.userCowsHealth%>%</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 d-flex align-items-stretch mb-3">
                <div class="card special-card">
                    <h5 class="card-header">Your Profits</h5>
                    <div class="card-body">
                            <div class="col">
                                <h6>You will earn profits from milking your cows every day at 4am. </h6>
                            </div>
                        
                        <div class="row mt-3">
                            <div class="col">
                                    <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Profit</th>
                                                    <th scope="col">Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% data.milkProfits.forEach(result=>{ %>
                                                <tr>
                                                    <td>
                                                                <div class="money">
                                                                    <img class="" style="width:95%" src="/img/bottle.svg" alt="">
                                                                </div>
                                                    </td>
                                                    <% Object.keys(result).map((key)=>{ %>
                                                        <td><%=result[key]%></td>
                                                    <% }); %>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-sm-4 mt-3 mb-3">
                <div class="card special-card">
                    <h5 class="card-header">Ranking</h5>
                    
                    <div class="card-body">
                           <p>this will show first name & wealth of top 5 wealthiest farmers</p>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</body>
<!--
<script>
    function PlaySound(melody) {
        console.log("On Press of ");
        var path = "/public/audio/"
        var snd = new Audio(path + melody + ".mp3");
        snd.play();
    }

</script>
-->
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>
</html>
